{% extends 'listings/base.html' %} {% block content %}
<h2>{{ listing.title }}</h2>
<a href="{% url 'listing-update' listing.id %}">[editer]</a>
<a href="{% url 'listing-delete' listing.id %}">[supprimer]</a>

<ul>
  <li>Type : {{ listing.get_types_display }}</li>
  <li>Année : {{ listing.year }}</li>
  <li>Vendu : {{ listing.sold|yesno }}</li>
  {% if listing.band %}
  <li>
    <a href="{% url 'band-detail' listing.band.id %}">{{ listing.band }}</a>
  </li>
  {% endif %}
</ul>

<p>{{ listing.descritpion }}</p>

<a href="{% url 'listing-list' %}">Retour à la liste des annonces</a>

{% endblock %}
